Source: osc2midi
Section: sound
Priority: optional
Maintainer: Blokas Labs <hello@blokas.io>
Build-Depends: debhelper-compat (= 13), libasound2-dev
Standards-Version: 4.5.1
Homepage: https://github.com/BlokasLabs/osc2midi/
Rules-Requires-Root: no

Package: osc2midi
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A bridge between OSC and (ALSA) MIDI.
 See https://github.com/BlokasLabs/osc2midi/ for more information.
